<div class="header"  [class.sidebar-open]="isSidebarOpen">
    <div class="left-icon">
        <div class="menu-icon hidden">
            <i class="material-icons hidden" (click)="toggleSidebar()">menu</i>
          </div>
    </div>
    <div class="right-icons">
    <div class="search-icon">
      <i class="material-icons">search</i>
    </div>
    <div class="notifications">
      <i class="material-icons">notifications</i>
      <span class="badge">3</span>
    </div>
    <div class="messages">
      <i class="material-icons">mail</i>
      <span class="badge">2</span>
    </div>
    <div class="tasks">
      <i class="material-icons">assignment</i>
      <span class="badge">3</span>
    </div>
    <div class="tasks">
        <span class="material-icons">|</span>
      </div>
    <div class="profile">
      <img src="/assets/images/philipsIcon.png" alt="Profile">
      <span class="user-name">Vycanis</span>
    </div>
</div>
  </div>