<div class="sidebar" [class.hidden]="!isVisible">
    <div class="header">
        <img src="/assets/images/philipsIcon.png" alt="Logo">
        <h1>produto</h1>
    </div>
    <ul class="menu">
        <li>
            <i class="material-icons">dashboard</i>
            <span>Dashboard</span>

        </li>
        <li class="border-bottom-menu">
        </li>
        <li class="section-title">SIMPLE SCREENS</li>
        <li>
            <i class="material-icons">view_module</i>
            <span>Produto Grupo</span>
        </li>
        <li>
            <i class="material-icons">bar_chart</i>
            <span>Produto Subgrupo</span>
        </li>
        <li>
            <i class="material-icons">store</i>
            <span>Produto Marca</span>
        </li>
        <li>
            <i class="material-icons">view_compact</i>
            <span>Produto Unidade</span>
        </li>
        <li>
            <i class="material-icons">description</i>
            <span>Produto</span>
        </li>
        
        <li class="border-bottom-menu">
        </li>
        <li class="section-title">GROUPED SCREENS</li>
        
        <li class="border-bottom-menu">
        </li>
        <li class="footer">
            <span>Version 1.0</span>
        </li>
    </ul>
</div>