<header id="dash">Dashboard</header>
<div class="gallery">
  <div class="row img-row-1">
    <img src="assets/images/card1.png" alt="Card 1">
    <img src="assets/images/card2.png" alt="Imagem 2">
    <img src="assets/images/card3.png" alt="Imagem 3">
    <img src="assets/images/card4.png" alt="Imagem 4">
  </div>
  <div class="row img-row-2">
    <img src="assets/images/card5.png" alt="Imagem 5" class="card5">
    <img src="assets/images/card6.png" alt="Imagem 6" class="card6">
  </div>
</div>
